* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.error-block {
    font-size: 0.5rem;
    color: red;
}

a, ul {
    text-decoration: none;
    list-style-type: none;
}

/* to be modified */
.logo a {
    color: #ff00bf;
    font-size: 2.75rem;
    font-weight: bolder;
    align-self: center;
}



/* canvas */
.bg-main {
    background-color: #ffffff;
}

.border-pry {
    border-bottom: 1px solid lightgrey;
}

.border-round {
    border-radius: .5rem;
    border: 1px solid grey;
    padding: .8rem;
}

.border-rnd-right {
    border-top-right-radius: 50%;
}

.border-main {
    border-left: 1px solid lightgrey;
}

.text-lg {
    font-size: 1rem;
}

.text-lgr {
    font-size: 5.2rem;
}

.text-bold {
    font-size: 1.15rem;
    font-weight: 600;
}

.text-bolder {
    font-size: 3rem;
    font-weight: 600;
}

.text-white {
    color: #ffffff;
}

.btn-pry {
    background-color: #8b37ff;
}

.btn {
    border: 1px solid #8b37ff;
    padding: 1.1rem 1.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;

}


/* positioning */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.justify-right {
    justify-content: end;
    align-items: center;
}

/* spacing  */
.pt-1 {
    padding-top: .25rem;
}

.ml-1 {
    margin-left: .25rem;
}

.ml-4 {
    margin-left: 4rem;
}

.p-1 {
    padding: .25rem;
}

.p-4 {
    padding: 1rem;
}

.p-7 {
    padding: 1.75rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mt-1 {
    margin-top: .25rem;
}

.mt-10 {
    margin-top: 2.5rem;
}

.m-1 {
    margin: .25rem;
}

.m-4 {
    margin: 1rem;
}

.ml-2 {
    margin-left: .5rem;
}

.mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.w-1 {
    width: 100vw;
}

.w-2 {
    width: 50vw;
}

.w-4 {
    width: 25vw;
}

.w-40 {
    width: 40vw;
}

.w-60 {
    width: 60vw;
}




/* delete later */

.search-box {
    width: 20rem;
}