* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

/* base utilities */

img {
    max-width: 100%;
}

.img-small {
    width: 20%;
}

.btn {
    border: 1px solid #8b37ff;
    padding: 1rem 1.2rem;
    border-radius: 2rem;
    font-size: .85rem;
    font-weight: bold;
} 

.btn-pry {
    background-color: #8b37ff;
}


/* header section */

header {
    max-width: 425px;
    border-bottom: 1px solid grey;
    background-color: #ffffff;
}

.top-nav {
    overflow: hidden;
    position: relative;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
}

#nav-links {
    display: none;
}

.top-nav a {
    padding: 6px 7px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.top-nav li {
    list-style-type: none;
}

.top-nav .fa {
    color: #ff00bf;
    display: block;
    font-size: 1.5rem;
}

.logo a {
    font-size: 1.75rem;
    color: #ff00bf;
    font-weight: bolder;
    align-self: center;
}

/* positioning */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

/* canvas */

.text-small {
    font-size: .8rem;
}

.text-medium {
    font-size: 1rem;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: #ffffff;
}

/* spacing */
.p-1 {
    padding: .25rem;
}

.p-2 {
    padding: .5rem;
}

.p-4 {
    padding: 1rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.m-auto {
    margin: auto;
}

.mt-2 {
    margin-top: .5rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: .75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.w-90 {
    width: 90vw;
}
